<div id="pdf">


  <div class="row">
    <div class="persona">
      <div class="logo">
        <img src="foto.png" alt="foto">
      </div>
      <div class="descrizione">
        <h3>{{descrizioneTitle()}}</h3>
        <p>{{descrizione()}}</p>
      </div>
      <div class="competenze">
        <h3>{{competenzeTitle()}}</h3>
        @for (competenza of competenze(); track competenza) {
        <li>{{competenza}}</li>
        }
      </div>
      <div class="lingue">
        <h3>{{lingueTitle()}}</h3>
        @for ( lingua of lingue(); track lingua) {

        <li>{{lingua.lang}}
          <span>
            {{lingua.cert}}
          </span>
        </li>
        }
      </div>
      <div class="contatto">
        <h3>{{contattoTitle()}} </h3>
        <li>{{contatti().email}}</li>
        <li>{{contatti().tel}}</li>
      </div>
    </div>
    <div class="informazioni">
      <header>
        <h5> {{role()}} </h5>
        <h1>Eugenio <br>
          Renna </h1>
      </header>
      <div class="esperienza block">
        <h3>{{esperienzaTitle()}}</h3>
        @for ( esperienza of esperienze(); track esperienza) {
        <div>
          <div class="line">
            <div class="ruolo">{{esperienza.role}}</div>
            <div class="data">{{esperienza.date_start}} - {{esperienza.date_finish}}</div>
          </div>

          <div class="info">{{esperienza.info}}</div>
          @for (description of esperienza.description; track description) {
          <div class="descrizione">
            <div class="descr_title">{{description.descr_title}}</div>
            @for (list of description.descr_list; track list) {
            <div class="descr_list">
              <li>{{list}}</li>
            </div>
            }
          </div>
          }
        </div>
        }
      </div>
      <div class="formazione block">
        <h3>{{formazioneTitle()}}</h3>
        @for ( formazione of formazioni(); track formazione) {
        <div>
          <div class="line">

            <div class="ruolo">{{formazione.role}}</div>
            <div class="data">{{formazione.date_start}} - {{formazione.date_finish}}</div>
          </div>
          <div class="info">{{formazione.info}}</div>
          @for (description of formazione.description; track description) {
          <div class="descrizione">
            <div class="descr_title">{{description.descr_title}}</div>
            @for (list of description.descr_list; track list) {
            <div class="descr_list">
              <li>{{list}}</li>
            </div>
            }
          </div>
          }
        </div>
        }
      </div>
      <div class="certificati">
        <h3>{{certificatiTitle()}}</h3>
        @for (corso of corsi().corsi; track corso) {
        <li>
          {{corso}}
        </li>
        }
      </div>
    </div>
  </div>

</div>
<div class="lang">
  <button class="btn btn-danger" [disabled]="english" (click)="translate('En')">
    English
  </button>
  <button class="btn btn-danger" [disabled]="italian" (click)="translate('Ita')">
    Italiano
  </button>
  <button class="btn btn-primary" (click)="export()">
    ExportPDF
  </button>
</div>
